<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataConnMariaDB.Properties.Settings.ConnectionString"
            connectionString="Driver={Driver da Microsoft para arquivos texto (*.txt; *.csv)};defaultdir=C:\Users\kovac\OneDrive\Documents\ODBC;driverid=27;fil=text;filedsn=C:\Users\kovac\OneDrive\Documents\ODBC\IktatoDirekt.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>