################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hallgatók/Csuka Balázs
/Hallgatók/Veres Attila
/Hallgatók/Nagy Ferenc
