################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hallgatók/Csuka Balázs
/Hallgatók/Veres Attila
/Hallgatók/Nagy Ferenc
/.vs/BeregSzF2-14esz2-CSharp/v17
/Hallgatók/Seres Róbert/obj
/orai
